@font-face {
  font-family: "Minecraft";
  src: url("../typography/Minecraft.ttf");
}

.navDivContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.2);
}

.navDivTittle{
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navButtonImg{
  display: none;
}

.navTierraImg{
  height: 50px;
  width: 100px;
}

.notShow{
  display: none;
}

@media only screen and (max-width: 1000px) {

  .buttonNav{
    width:50px ;
    height: 50px;
  }

  .navButtonP{
    display: none;
  }

  .navButtonImg{
    width:50px ;
    height: 50px;
    display:flex;
  }
}